
.section-three {
    width: 100vw;
    height: 100vh;
  }
 
  
  .section-three .container {
    width: 100%;
    height: 100%;
    background-color:#ffffff;
    display: flex;
  
    justify-content: space-between;
    align-items:center;
    padding: 16px 0px;
  
  }
  .section-three .container .experience-box{
    width: 50%;
    height: auto;
    background-color: #fff;
  }
  .section-three .container .experience-box img{
    width: 100%;
    height: auto;
    margin: auto;
  }
  .section-three .container .experience-content {
    width: 50%;
    padding-left: 22px;

  }
  .section-three .container .experience-content h2{
    font-size: 44px;
    color:#212121;
    width: fit-content;
    margin: 16px ;
  }
  .section-three .container .experience-content p{
    font-size: 17px;
    color: #292929;
    letter-spacing: 1px;
    width: 240px;
  }
  .section-three .container .experience-content .btn-experience {
    padding: 12px 32px;
    font-size: 15px;
    background-color: brown;
    color: #ffffff;
    border: #fff;
    margin: 16px;
    cursor: pointer;
  }
  .section-three .container .experience-content .btn-experience:hover{
    background-color: #ffffff;
    border: 1px solid brown;
    color: brown;
    transition:all 0.8s;

  }
 
  
  
